/*
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
*/
.login-container {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text-bg-info-subtle {
  color: var(--bs-dark);
  background: var(--bs-info-border-subtle);
} 

.ti {
  font-size: 18px;
}
