{% extends "layouts/base.html" %}
{% import 'macros/alerts.html' as alerts %}
{% from 'macros/pagination.html' import pagination as pg with context %}

{% block content %}

     <div class="container-fluid" style="max-width: 650px;padding-right: 14px;padding-left: 14px;">
         <div class="row mb-2">
             <div class="col-xl-12 mb-2">
               <div class="input-group">
                 <input class="form-control" type="text" placeholder="Search for...">
                   <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i>
                   </button>
               </div>
             </div>
         </div>
         <div class="row mb-3">
             <div class="col">
                 <div class="card shadow mb-3">
                     <div class="card-header py-3">
                       <div class="d-flex justify-content-between" aria-controls="">
                         <div class="text-end d-inline-flex" aria-controls="">
                           <span class="text-primary m-0 fw-bold">Orders</span>
                         </div>
                           <div class="text-end d-inline-flex" aria-controls="">
                             <a class="btn btn-primary btn-sm" role="button" href="/new_order">New order</a>
                           </div>
                       </div>
                     </div>
                     <div class="card-body">
                       {#
                         <div class="d-flex justify-content-between" aria-controls="">
                             <div class="text-end d-inline-flex" aria-controls=""></div>
                             <div class="text-end d-inline-flex" aria-controls=""></div>
                         </div>
                        #}

                    {% for order in instances %}

                       <div class="card shadow border-left-primary py-2 mb-2">
                           <div class="card-body d-flex flex-column">
                               <div class="d-flex align-items-center">
                                   <div class="me-auto">
                                     <p class="fw-bold h5 mb-0" style="color:var(--bs-secondary);">{{order.order_date.strftime('%m-%d-%Y')}}</p>
                                   </div>
                                   <div>
                                     <p class="fw-bold text-warning h5 mb-0">{{order.contact.full_name}}</p>
                                   </div>
                               </div>
                               <div>
                                   <hr class="my-1">
                               </div>
                               <div class="d-flex align-items-center">
                                   <div class="text-end me-auto"><i class="fas fa-shopping-cart fa-2x text-gray-300"></i></div>
                                   <div>
                                     <p class="text-end text-primary mb-0">{{order.contact.street ~ ' ' ~ order.contact.city}}</p>
                                     <p class="text-end text-primary mb-1">{{order.contact.mobile_phone | phone_format}}</p>
                                   </div>
                               </div>
                               <div>
                                   <hr class="my-1">
                               </div>
                               <div>
                                 {% for ol in order.order_lines %}
                                   <div class="d-flex mb-1">
                                     <p class="me-auto mb-1 mx-1" style="color:var(--bs-primary);">{{ol.product.name}}</p>
                                       <p class="mb-1 mx-1" style="color:var(--bs-secondary);">qty: {{ol.quantity ~ 'oz'}}</p>
                                       <p class="mb-1 mx-1" style="color:var(--bs-secondary);"></p>
                                       <p class="mb-1 mx-1" style="color:var(--bs-secondary);">${{ol.quantity * ol.product.unit_price}}</p>
                                   </div>
                                 {% endfor %}
                                   <div>
                                       <hr class="my-1">
                                   </div>
                                   <div class="d-flex flex-row-reverse mb-1">
                                     <p class="mb-1 mx-1 h5" style="color:var(--bs-secondary);">${{order.computed_total}}</p>
                                       <p class="mb-1 mx-1" style="color:var(--bs-secondary);">total:</p>
                                   </div>
                               </div>
                           </div>
                     </div>
                     {% endfor %}
                     <div class="d-flex justify-content-between mmb-2" aria-controls="">
                       {#<div class="text-end d-inline-flex" aria-controls=""> </div> #}
                       <div class="text-end d-inline-flex" aria-controls="">
                        {{ pg('auth.orders') }}
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


{% endblock %}
